@import 'sencha-touch/default/all';

$dark: #2d2d2d;

$page-bg-color: $dark;
$base-color: $dark;
$base-gradient: 'flat';

$toolbar-gradient: 'flat';
$toolbar-base-color: $dark;

$list-color: #FFFFFF;
$list-bg-color: $dark;
$list-active-color: lighten($dark, 10);
$list-active-gradient: 'flat';

// You may remove any of the following modules that you
// do not use in order to create a smaller css file.
@include sencha-panel;
@include sencha-buttons;
@include sencha-sheet;
@include sencha-picker;
@include sencha-tabs;
@include sencha-toolbar;
@include sencha-toolbar-forms;
@include sencha-indexbar;
@include sencha-list;
@include sencha-layout;
@include sencha-carousel;
@include sencha-form;
@include sencha-msgbox;

$dottybackground: url(../images/bg/dotgrid.png);

// Your custom code goes here...
.tag-list {
  color: #FFFFFF;
  .list-image {
    float: left;
  }
  .list-title {
    font-weight: bold;
  }
  .list-subtitle {
  }
  .list-created {
    color: #DDDDDD;
  }
  .x-list-item {
    background: $dark;
    //@include background-gradient($dark, 'matte');
  }
}

.share-panel {
  background: $dottybackground;
  color: #FFFFFF;
  padding: 10px;
}
.tag-detail {
  background: #000000;
  color: #FFFFFF;
}

@include pictos-iconmask('twitter2');
@include pictos-iconmask('mail');
@include pictos-iconmask('chat_black1');